@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@inject UserManager<aspapp.ApplicationUser.ApplicationUse> UserManager
@inject SignInManager<aspapp.ApplicationUser.ApplicationUse> SignInManager
@inject IHttpContextAccessor HttpContextAccessor
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home page";
    var user = HttpContextAccessor.HttpContext?.User;
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome"]</h1>


    @if (user.IsInRole("User"))
    {
        <a href="@Url.Action("Index", "User")" class="btn btn-secondary">User</a>
    }
    else if (user.IsInRole("ADMIN"))
    {
        <a href="@Url.Action("Index", "Admin")" class="btn btn-secondary">@Localizer["Admin"]</a>
    }
    else{
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">@Localizer["Login"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">@Localizer["Register"]</a>
        </li>
    }
</div>
